<a href="https://colab.research.google.com/github/AlbertoOstorga/Examen1/blob/main/Examen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Consumer**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import io

In [ ]:
from google.colab import files
files.upload()

In [ ]:
data = pd.read_excel('consumer_mit_lift_lab.xlsx')
data

In [ ]:
data.info()

In [ ]:
valores_nulos = data.isnull().sum()
valores_nulos

 **Eliminar valores nulos de la base de datos**

In [16]:
#Eliminar valos nulos de la columna '300_did_not_find' el cuál es categórico
#Cuarto método de sustitución de valores nulos visto en clasee
#Sustituir valores nulos por un string en concreto
#Esto se debe a que si sustituimos por algún valor inventado que no sea 'Encontró todo' alteraría la información obtenida
data["300_did_not_find"] = data["300_did_not_find"].fillna("Encontró todo")

In [ ]:
#Comprobamos valores nulos
valores_nulos = data.isnull().sum()
valores_nulos

In [19]:
#Eliminar valos nulos de la columna '284_additional_products_store' el cuál es categórico
#Cuarto método de sustitución de valores nulos visto en clasee
#Sustituir valores nulos por un string en concreto
#Al igual que en el caso anterior se sustituirá la información faltante con "No desea nada más" para no alterar la información
data["284_additional_products_store"] = data["284_additional_products_store"].fillna("No desea nada más")

In [ ]:
#Comprobamos valores nulos
valores_nulos = data.isnull().sum()
valores_nulos

In [22]:
#Quinto método de sustitución
#Sustituir valores nulos por valores no nulos hacia adelante "foward fill" ("ffill")
#Filtro por columna
#Usamos foward fill porque los datos faltantes son pocos, y al ser categóricos, usar foward fill no afectará en gran medida a los resultados.
data["305_electricity_bill_store"] = data["305_electricity_bill_store"].fillna(method="ffill")

In [ ]:
#Comprobamos valores nulos
valores_nulos = data.isnull().sum()
valores_nulos

In [24]:
#Sexto método de sustitución
#Sustituir valores nulos por valores no nulos hacia atrás "backward fill" ("bfill")
#Filtro por columna
#Usamos backward fill porque los datos faltantes son pocos, y al ser categóricos, usar backward fill no afectará en gran medida a los resultados.
data["306_water_bill_store"] = data["306_water_bill_store"].fillna(method="bfill")

In [ ]:
#Comprobamos valores nulos
valores_nulos = data.isnull().sum()
valores_nulos

In [26]:
#Sexto método de sustitución
#Sustituir valores nulos por valores no nulos hacia atrás "backward fill" ("bfill")
#Filtro por columna
#Usamos backward fill porque los datos faltantes son pocos, y al ser categóricos, usar backward fill no afectará en gran medida a los resultados.
data["307_gas_bill_store"] = data["307_gas_bill_store"].fillna(method="bfill")

In [ ]:
#Comprobamos valores nulos
valores_nulos = data.isnull().sum()
valores_nulos

In [28]:
#Quinto método de sustitución
#Sustituir valores nulos por valores no nulos hacia adelante "foward fill" ("ffill")
#Filtro por columna
#Usamos foward fill porque los datos faltantes son pocos, y al ser categóricos, usar foward fill no afectará en gran medida a los resultados.
data["308_topups_in_store"] = data["308_topups_in_store"].fillna(method="ffill")

In [ ]:
#Comprobamos valores nulos
valores_nulos = data.isnull().sum()
valores_nulos

In [30]:
#Quinto método de sustitución
#Sustituir valores nulos por valores no nulos hacia adelante "foward fill" ("ffill")
#Filtro por columna
#Usamos foward fill porque los datos faltantes son pocos, y al ser categóricos, usar foward fill no afectará en gran medida a los resultados.
data["309_wiretransfers_in_store"] = data["309_wiretransfers_in_store"].fillna(method="ffill")

In [ ]:
#Comprobamos valores nulos
valores_nulos = data.isnull().sum()
valores_nulos

In [36]:
#Eliminar valos nulos de la columna '284_additional_products_store' el cuál es categórico
#Cuarto método de sustitución de valores nulos visto en clasee
#Sustituir valores nulos por un string en concreto
#La información faltante se cambiará por "No desea otro servicio" para no alterar la información
data["304_additional_services_store"] = data["304_additional_services_store"].fillna("No desea otro servicio")

In [ ]:
#Comprobamos valores nulos
valores_nulos = data.isnull().sum()
valores_nulos

In [38]:
#Eliminar valos nulos de la columna '284_additional_products_store' el cuál es categórico
#Cuarto método de sustitución de valores nulos visto en clasee
#Sustituir valores nulos por un string en concreto
#Al igual que en el caso anterior se sustituirá la información faltante con 'No photo'
data["storefront_picture_just_once_if_possible"] = data["storefront_picture_just_once_if_possible"].fillna("No photo")

In [ ]:
#Comprobamos valores nulos
valores_nulos = data.isnull().sum()
valores_nulos
#El dataframe se encuentra libre de valores nulos

**Identificación y eliminación de outliers**

In [ ]:
#Método aplicación Cuartiles, Encuentro cuartiles 0.25 y 0.75
y = data

percentile25 = y.quantile(0.25) #Q1
percentile75 = y.quantile(0.75) #Q3
iqr = percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print('Limite superior permitido', Limite_Superior_iqr)
print('Limite inferior permitido', Limite_Inferior_iqr)

In [ ]:
outliers_iqr = data[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]
outliers_iqr

In [ ]:
data2_iqr= data[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
data2_iqr

In [56]:
#Eliminamos la columna innecesaria
data3_iqr = data2_iqr.drop(['_record_id','_title','_server_updated_at','_updated_by','_geometry','282_payment_method_that_purchase','283_fulfill_needs','300_did_not_find','237_distance_household_interviewee','299_means_transportation_consumer','284_additional_products_store','301_electricity_bill','305_electricity_bill_store','302_water_bill','306_water_bill_store','303_gas_bill','307_gas_bill_store','286_topups','308_topups_in_store','287_wire_transfers','309_wiretransfers_in_store','320_other_services_in_store','304_additional_services_store','240_gender_interviewee','indicate_the_type_of_store','name_of_the_store','storefront_picture_just_once_if_possible'], axis = 1)
data3_iqr

,_latitude,_longitude,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,19.059841,-98.234980,1.0,1.0,0.0,0.0,0.0,0.0,35.0
1,19.058479,-98.233566,1.0,1.0,2.0,0.0,35.0,50.0,27.0
2,19.062077,-98.230339,1.0,0.0,0.0,0.0,40.0,25.0,42.0
3,19.055535,-98.232916,1.0,2.0,3.0,0.0,0.0,0.0,27.0
4,19.059012,-98.232994,1.0,2.0,5.0,0.0,0.0,50.0,35.0
...,...,...,...,...,...,...,...,...,...
110,19.035224,-98.267100,1.0,NaN,10.0,0.0,100.0,100.0,15.0
111,19.035280,-98.267856,1.0,1.0,1.0,0.0,50.0,70.0,21.0
112,19.035451,-98.267862,1.0,3.0,2.0,0.0,0.0,0.0,18.0
113,19.035486,-98.267831,1.0,2.0,4.0,0.0,30.0,100.0,18.0
114,19.035399,-98.267924,1.0,0.0,3.0,0.0,NaN,NaN,18.0

In [59]:
#Reemplazar valores atípicos (nulos) del dataframe con "mean"
data4_iqr = data3_iqr.copy()
data4_iqr = data4_iqr.fillna(round(data4_iqr.mean(),1))
data4_iqr

,_latitude,_longitude,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,19.059841,-98.234980,1.0,1.0,0.0,0.0,0.0,0.0,35.0
1,19.058479,-98.233566,1.0,1.0,2.0,0.0,35.0,50.0,27.0
2,19.062077,-98.230339,1.0,0.0,0.0,0.0,40.0,25.0,42.0
3,19.055535,-98.232916,1.0,2.0,3.0,0.0,0.0,0.0,27.0
4,19.059012,-98.232994,1.0,2.0,5.0,0.0,0.0,50.0,35.0
...,...,...,...,...,...,...,...,...,...
110,19.035224,-98.267100,1.0,1.8,10.0,0.0,100.0,100.0,15.0
111,19.035280,-98.267856,1.0,1.0,1.0,0.0,50.0,70.0,21.0
112,19.035451,-98.267862,1.0,3.0,2.0,0.0,0.0,0.0,18.0
113,19.035486,-98.267831,1.0,2.0,4.0,0.0,30.0,100.0,18.0
114,19.035399,-98.267924,1.0,0.0,3.0,0.0,35.1,56.9,18.0

In [ ]:
#Unimos la columna 'indice_tiempo' con el dataframe
Nonumerico=data[['_record_id','_title', '_server_updated_at', '_updated_by','_geometry', '282_payment_method_that_purchase', '283_fulfill_needs', '237_distance_household_interviewee', '299_means_transportation_consumer', '301_electricity_bill', '305_electricity_bill_store', '302_water_bill', '306_water_bill_store', '303_gas_bill', '307_gas_bill_store', '286_topups', '308_topups_in_store', '287_wire_transfers','309_wiretransfers_in_store', '320_other_services_in_store', '240_gender_interviewee', 'indicate_the_type_of_store', 'name_of_the_store', 'storefront_picture_just_once_if_possible']]
Datos_limpios=pd.concat([Nonumerico, data4_iqr], axis=1)
Datos_limpios

In [ ]:
valores_nulos=Datos_limpios.isnull().sum()
valores_nulos

In [167]:
Datos_limpios.to_csv('Datos_limpios_consumidor_examen.csv')
from google.colab import files
files.download('Datos_limpios_consumidor_examen.csv')

## **Last Mile Delivery**

In [ ]:
from google.colab import files
files.upload()
datam = pd.read_csv('lastmile_delivery_operations_mit_lift_lab.csv')
datam

In [72]:
valores_nulos = datam.isnull().sum()
valores_nulos

_record_id                                         0
_title                                             6
_server_updated_at                                 0
_updated_by                                        0
_geometry                                          0
_latitude                                          0
_longitude                                         0
arrival_of_the_freight_vehicle                     0
plates                                             1
company_if_visible                                73
visit_purpose                                      0
type_of_vehicle                                    0
number_of_operators                                0
refrigerated_truck                                 0
type_of_cargo                                      0
picture_of_the_parked_freight_vehicle              0
departure_of_the_freight_vehicle                   0
where_was_the_vehicle_parked                       0
while_parked_was_the_engine_running                0
used_traffic_cone                                  0
vehicles_unloading_door                            0
number_of_available_trolleys                       0
serving_customer                                 147
garage_blocking                                    0
accident                                           0
describe_the_accident                            182
noise                                              0
traffic_congestion                                 0
maximum_number_of_vehicles_in_the_traffic_jam    180
dtype: int64

 **Eliminar valores nulos de la base de datos**

In [96]:
#Eliminar valos nulos de la columna '_title' el cuál es categórico
#Cuarto método de sustitución de valores nulos visto en clase
#Sustituir valores nulos por un string en concreto
#Esto se debe a que si sustituimos por algún valor inventado que no sea 'Sin calle' alteraría la información obtenida
datam["_title"] = datam["_title"].fillna("Sin calle")

In [ ]:
valores_nulos = datam.isnull().sum()
valores_nulos

In [99]:
#Eliminar valos nulos de la columna 'plates' el cuál es categórico
#Cuarto método de sustitución de valores nulos visto en clase
#Sustituir valores nulos por un string en concreto
#Esto se debe a que si sustituimos por algún valor inventado que no sea 'Sin placas' alteraría la información obtenida
datam["plates"] = datam["plates"].fillna("Sin placas")

In [ ]:
valores_nulos = datam.isnull().sum()
valores_nulos

In [101]:
#Eliminar valos nulos de la columna 'company_if_visible' el cuál es categórico
#Cuarto método de sustitución de valores nulos visto en clase
#Sustituir valores nulos por un string en concreto
#Esto se debe a que si sustituimos por algún valor inventado que no sea 'Sin compañía' alteraría la información obtenida
datam["company_if_visible"] = datam["company_if_visible"].fillna("Sin compañía")

In [ ]:
valores_nulos = datam.isnull().sum()
valores_nulos

In [103]:
#Eliminar valos nulos de la columna 'serving_customer' el cuál es categórico
#Cuarto método de sustitución de valores nulos visto en clase
#Sustituir valores nulos por un string en concreto
#Esto se debe a que si sustituimos por algún valor inventado que no sea '0' alteraría la información obtenida
datam["serving_customer"] = datam["serving_customer"].fillna(0)

In [ ]:
valores_nulos = datam.isnull().sum()
valores_nulos

In [105]:
#Eliminar valos nulos de la columna 'describe_the_accident' el cuál es categórico
#Cuarto método de sustitución de valores nulos visto en clase
#Sustituir valores nulos por un string en concreto
#Esto se debe a que si sustituimos por algún valor inventado que no sea 'Sin accidente' alteraría la información obtenida
datam["describe_the_accident"] = datam["describe_the_accident"].fillna("Sin accidente")

In [ ]:
valores_nulos = datam.isnull().sum()
valores_nulos

In [107]:
#Eliminar valos nulos de la columna 'maximum_number_of_vehicles_in_the_traffic_jam' el cuál es categórico
#Cuarto método de sustitución de valores nulos visto en clase
#Sustituir valores nulos por un string en concreto
#Esto se debe a que si sustituimos por algún valor inventado que no sea '0' alteraría la información obtenida
datam["maximum_number_of_vehicles_in_the_traffic_jam"] = datam["maximum_number_of_vehicles_in_the_traffic_jam"].fillna(0)

In [ ]:
valores_nulos = datam.isnull().sum()
valores_nulos

**Identificación y eliminación de outliers**

In [138]:
#Método aplicación Cuartiles, Encuentro cuartiles 0.25 y 0.75
ym = datam

percentile25 = ym.quantile(0.25) #Q1
percentile75 = ym.quantile(0.75) #Q3
iqrm = percentile75 - percentile25

Limite_Superior_iqrm= percentile75 + 1.5*iqrm
Limite_Inferior_iqrm= percentile25 - 1.5*iqrm
print('Limite superior permitido', Limite_Superior_iqrm)
print('Limite inferior permitido', Limite_Inferior_iqrm)

Limite superior permitido _latitude                       19.123517
_longitude                     -98.098434
number_of_operators              3.500000
number_of_available_trolleys     2.500000
dtype: float64
Limite inferior permitido _latitude                       18.961271
_longitude                     -98.366619
number_of_operators             -0.500000
number_of_available_trolleys    -1.500000
dtype: float64

In [ ]:
outliers_iqrm = datam[(ym>Limite_Superior_iqrm)|(ym<Limite_Inferior_iqrm)]
outliers_iqrm

In [ ]:
data2_iqrm= datam[(ym<=Limite_Superior_iqrm)&(ym>=Limite_Inferior_iqrm)]
data2_iqrm

In [ ]:
#Eliminamos la columna innecesaria
data3_iqrm = data2_iqrm.drop(['_record_id','_title','_server_updated_at','_updated_by','_geometry','arrival_of_the_freight_vehicle','plates','company_if_visible','visit_purpose','type_of_vehicle','refrigerated_truck','type_of_cargo','picture_of_the_parked_freight_vehicle','departure_of_the_freight_vehicle','where_was_the_vehicle_parked','while_parked_was_the_engine_running','used_traffic_cone','vehicles_unloading_door','serving_customer','garage_blocking','accident','describe_the_accident','noise','traffic_congestion','maximum_number_of_vehicles_in_the_traffic_jam'], axis = 1)
data3_iqrm

In [ ]:
#Buscamos outliers
valores_nulos = data3_iqrm.isnull().sum()
valores_nulos

In [ ]:
#Reemplazar valores atípicos (nulos) del dataframe con "mean"
data4_iqrm = data3_iqrm.copy()
data4_iqrm = data4_iqrm.fillna(round(data4_iqrm.mean(),1))
data4_iqrm

In [ ]:
#Corroboramos outliers
valores_nulos = data4_iqrm.isnull().sum()
valores_nulos

In [ ]:
#Unimos la columna 'indice_tiempo' con el data frame
Nonumericosm=datam[['_record_id','_title','_server_updated_at','_updated_by','_geometry','arrival_of_the_freight_vehicle','plates','company_if_visible','visit_purpose','type_of_vehicle','refrigerated_truck','type_of_cargo','picture_of_the_parked_freight_vehicle','departure_of_the_freight_vehicle','where_was_the_vehicle_parked','while_parked_was_the_engine_running','used_traffic_cone','vehicles_unloading_door','serving_customer','garage_blocking','accident','describe_the_accident','noise','traffic_congestion','maximum_number_of_vehicles_in_the_traffic_jam']]
Datos_limpiosm=pd.concat([Nonumericosm, data4_iqrm], axis=1)
Datos_limpiosm

In [ ]:
Datos_limpiosm.to_csv('Datos_limpios_lastmile_delivery_examen.csv')
from google.colab import files
files.download('Datos_limpios_lastmile_delivery_examen.csv')

## **Last Mile Delivery Serving Customers**

In [ ]:
from google.colab import files
files.upload()
datac = pd.read_csv('lastmile_delivery_operations_mit_lift_lab_serving_customer.csv')
datac

In [ ]:
valores_nulos = datac.isnull().sum()
valores_nulos

 **Eliminar valores nulos de la base de datos**

In [136]:
#Eliminar valos nulos de la columnas 'picture_cargo_being_delivered', 'picture_cargo_being_delivered_captions' y 'picture_cargo_being_delivered_urls' las cuáles son categóricas
#Cuarto método de sustitución de valores nulos visto en clase
#Sustituir valores nulos por un string en concreto
#Esto se debe a que si sustituimos por algún valor inventado que no sea 'No photo' alteraría la información obtenida
datac["picture_cargo_being_delivered"] = datac["picture_cargo_being_delivered"].fillna('No Photo')
datac["picture_cargo_being_delivered_captions"] = datac["picture_cargo_being_delivered_captions"].fillna('No Photo')
datac["picture_cargo_being_delivered_urls"] = datac["picture_cargo_being_delivered_urls"].fillna('No Photo')

In [ ]:
valores_nulos = datac.isnull().sum()
valores_nulos

**Identificación y eliminación de outliers**

In [ ]:
#Método aplicación Cuartiles, Encuentro cuartiles 0.25 y 0.75
yc = datac

percentile25 = yc.quantile(0.25) #Q1
percentile75 = yc.quantile(0.75) #Q3
iqrc = percentile75 - percentile25

Limite_Superior_iqrc= percentile75 + 1.5*iqrc
Limite_Inferior_iqrc= percentile25 - 1.5*iqrc
print('Limite superior permitido', Limite_Superior_iqrc)
print('Limite inferior permitido', Limite_Inferior_iqrc)

In [ ]:
outliers_iqrc = datac[(yc>Limite_Superior_iqrc)|(yc<Limite_Inferior_iqrc)]
outliers_iqrc

In [ ]:
data2_iqrc= datac[(yc<=Limite_Superior_iqrc)&(yc>=Limite_Inferior_iqrc)]
data2_iqrc.head()

In [ ]:
#Eliminamos la columna innecesaria
data3_iqrc = data2_iqrc.drop(['_child_record_id','_record_id','_parent_id','_title','_created_at','_updated_at','_created_by','_updated_by','_geometry','_changeset_id','name_of_the_store','entering_the_store','picture_cargo_being_delivered','picture_cargo_being_delivered_captions','picture_cargo_being_delivered_urls','trolley_in_use','leaving_the_store'], axis = 1)
data3_iqrc

In [ ]:
#Buscamos outliers
valores_nulos = data3_iqrc.isnull().sum()
valores_nulos

In [ ]:
#Reemplazar valores atípicos (nulos) del dataframe con "mean"
data4_iqrc = data3_iqrc.copy()
data4_iqrc = data4_iqrc.fillna(round(data4_iqrc.mean(),1))
data4_iqrc

In [ ]:
#Corroboramos outliers
valores_nulos = data4_iqrc.isnull().sum()
valores_nulos

In [ ]:
#Unimos las columnas eliminadas con el data frame
Nonumericosc=datac[['_child_record_id','_record_id','_parent_id','_title','_created_at','_updated_at','_created_by','_updated_by','_geometry','_changeset_id','name_of_the_store','entering_the_store','picture_cargo_being_delivered','picture_cargo_being_delivered_captions','picture_cargo_being_delivered_urls','trolley_in_use','leaving_the_store']]
Datos_limpiosc=pd.concat([Nonumericosc, data4_iqrc], axis=1)
Datos_limpiosc

In [162]:
Datos_limpiosc.to_csv('Datos_limpios_lastmile_delivery_serving_customer_examen.csv')
from google.colab import files
files.download('Datos_limpios_lastmile_delivery_serving_customer_examen.csv')