<a href="https://colab.research.google.com/github/AlbertoOstorga/Examen1/blob/main/MileDelivery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Last Mile Delivery**

In [ ]:
from google.colab import files
files.upload()
datam = pd.read_csv('lastmile_delivery_operations_mit_lift_lab.csv')
datam

In [ ]:
valores_nulos = datam.isnull().sum()
valores_nulos

_record_id                                         0
_title                                             6
_server_updated_at                                 0
_updated_by                                        0
_geometry                                          0
_latitude                                          0
_longitude                                         0
arrival_of_the_freight_vehicle                     0
plates                                             1
company_if_visible                                73
visit_purpose                                      0
type_of_vehicle                                    0
number_of_operators                                0
refrigerated_truck                                 0
type_of_cargo                                      0
picture_of_the_parked_freight_vehicle              0
departure_of_the_freight_vehicle                   0
where_was_the_vehicle_parked                       0
while_parked_was_the_engine_running                0
used_traffic_cone                                  0
vehicles_unloading_door                            0
number_of_available_trolleys                       0
serving_customer                                 147
garage_blocking                                    0
accident                                           0
describe_the_accident                            182
noise                                              0
traffic_congestion                                 0
maximum_number_of_vehicles_in_the_traffic_jam    180
dtype: int64

 **Eliminar valores nulos de la base de datos**

In [ ]:
#Eliminar valos nulos de la columna '_title' el cuál es categórico
#Cuarto método de sustitución de valores nulos visto en clase
#Sustituir valores nulos por un string en concreto
#Esto se debe a que si sustituimos por algún valor inventado que no sea 'Sin calle' alteraría la información obtenida
datam["_title"] = datam["_title"].fillna("Sin calle")

In [ ]:
valores_nulos = datam.isnull().sum()
valores_nulos

In [ ]:
#Eliminar valos nulos de la columna 'plates' el cuál es categórico
#Cuarto método de sustitución de valores nulos visto en clase
#Sustituir valores nulos por un string en concreto
#Esto se debe a que si sustituimos por algún valor inventado que no sea 'Sin placas' alteraría la información obtenida
datam["plates"] = datam["plates"].fillna("Sin placas")

In [ ]:
valores_nulos = datam.isnull().sum()
valores_nulos

In [ ]:
#Eliminar valos nulos de la columna 'company_if_visible' el cuál es categórico
#Cuarto método de sustitución de valores nulos visto en clase
#Sustituir valores nulos por un string en concreto
#Esto se debe a que si sustituimos por algún valor inventado que no sea 'Sin compañía' alteraría la información obtenida
datam["company_if_visible"] = datam["company_if_visible"].fillna("Sin compañía")

In [ ]:
valores_nulos = datam.isnull().sum()
valores_nulos

In [ ]:
#Eliminar valos nulos de la columna 'serving_customer' el cuál es numérico
#Cuarto método de sustitución de valores nulos visto en clase
#Sustituir valores nulos por un string en concreto
#Esto se debe a que si sustituimos por algún valor inventado que no sea '0' alteraría la información obtenida
datam["serving_customer"] = datam["serving_customer"].fillna(0)

In [ ]:
valores_nulos = datam.isnull().sum()
valores_nulos

In [ ]:
#Eliminar valos nulos de la columna 'describe_the_accident' el cuál es numérico
#Cuarto método de sustitución de valores nulos visto en clase
#Sustituir valores nulos por un string en concreto
#Esto se debe a que si sustituimos por algún valor inventado que no sea 'Sin accidente' alteraría la información obtenida
datam["describe_the_accident"] = datam["describe_the_accident"].fillna("Sin accidente")

In [ ]:
valores_nulos = datam.isnull().sum()
valores_nulos

In [ ]:
#Eliminar valos nulos de la columna 'maximum_number_of_vehicles_in_the_traffic_jam' el cuál es numérico
#Cuarto método de sustitución de valores nulos visto en clase
#Sustituir valores nulos por un string en concreto
#Esto se debe a que si sustituimos por algún valor inventado que no sea '0' alteraría la información obtenida
datam["maximum_number_of_vehicles_in_the_traffic_jam"] = datam["maximum_number_of_vehicles_in_the_traffic_jam"].fillna(0)

In [ ]:
valores_nulos = datam.isnull().sum()
valores_nulos

**Identificación y eliminación de outliers**

In [ ]:
#Método aplicación Cuartiles, Encuentro cuartiles 0.25 y 0.75
ym = datam

percentile25 = ym.quantile(0.25) #Q1
percentile75 = ym.quantile(0.75) #Q3
iqrm = percentile75 - percentile25

Limite_Superior_iqrm= percentile75 + 1.5*iqrm
Limite_Inferior_iqrm= percentile25 - 1.5*iqrm
print('Limite superior permitido', Limite_Superior_iqrm)
print('Limite inferior permitido', Limite_Inferior_iqrm)

Limite superior permitido _latitude                       19.123517
_longitude                     -98.098434
number_of_operators              3.500000
number_of_available_trolleys     2.500000
dtype: float64
Limite inferior permitido _latitude                       18.961271
_longitude                     -98.366619
number_of_operators             -0.500000
number_of_available_trolleys    -1.500000
dtype: float64

In [ ]:
outliers_iqrm = datam[(ym>Limite_Superior_iqrm)|(ym<Limite_Inferior_iqrm)]
outliers_iqrm

In [ ]:
data2_iqrm= datam[(ym<=Limite_Superior_iqrm)&(ym>=Limite_Inferior_iqrm)]
data2_iqrm

In [ ]:
#Eliminamos la columna innecesaria
data3_iqrm = data2_iqrm.drop(['_record_id','_title','_server_updated_at','_updated_by','_geometry','arrival_of_the_freight_vehicle','plates','company_if_visible','visit_purpose','type_of_vehicle','refrigerated_truck','type_of_cargo','picture_of_the_parked_freight_vehicle','departure_of_the_freight_vehicle','where_was_the_vehicle_parked','while_parked_was_the_engine_running','used_traffic_cone','vehicles_unloading_door','serving_customer','garage_blocking','accident','describe_the_accident','noise','traffic_congestion','maximum_number_of_vehicles_in_the_traffic_jam'], axis = 1)
data3_iqrm

In [ ]:
#Buscamos outliers
valores_nulos = data3_iqrm.isnull().sum()
valores_nulos

In [ ]:
#Reemplazar valores atípicos (nulos) del dataframe con "mean"
data4_iqrm = data3_iqrm.copy()
data4_iqrm = data4_iqrm.fillna(round(data4_iqrm.mean(),1))
data4_iqrm

In [ ]:
#Corroboramos outliers
valores_nulos = data4_iqrm.isnull().sum()
valores_nulos

In [ ]:
#Unimos la columna 'indice_tiempo' con el data frame
Nonumericosm=datam[['_record_id','_title','_server_updated_at','_updated_by','_geometry','arrival_of_the_freight_vehicle','plates','company_if_visible','visit_purpose','type_of_vehicle','refrigerated_truck','type_of_cargo','picture_of_the_parked_freight_vehicle','departure_of_the_freight_vehicle','where_was_the_vehicle_parked','while_parked_was_the_engine_running','used_traffic_cone','vehicles_unloading_door','serving_customer','garage_blocking','accident','describe_the_accident','noise','traffic_congestion','maximum_number_of_vehicles_in_the_traffic_jam']]
Datos_limpiosm=pd.concat([Nonumericosm, data4_iqrm], axis=1)
Datos_limpiosm

In [ ]:
Datos_limpiosm.to_csv('Datos_limpios_lastmile_delivery_examen.csv')
from google.colab import files
files.download('Datos_limpios_lastmile_delivery_examen.csv')